<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBT Dashboard</title>
</head>
<body>
<h1>CBT Dashboard</h1>
<h3>Welcome <span th:text="${session.username}"></span></h3>
<div>
    <form action="userdetails" method="post">

        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" required><br><br>

        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required><br><br>

        <label for="type">User Type:</label>
        <select id="type" name="type">
            <option value="Buyer">Buyer</option>
            <option value="Seller">Seller</option>
            <option value="Both">Both</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">

    </form>

</div>

</body>
</html>